<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CrmActionName" value="ntw_DocuSign_Ingress"/>
    <add key="CrmActionParamName" value="RequestBody"/>
  </appSettings>

  <connectionStrings>
    <add name="CRMConnectionString"
         connectionString="Url=https://crmuat.netways1.com; Domain=netwaysdev; Username=mhmoussa@Netwaysdev.local; Password=MhM@123456; AuthType=AD;"/>
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
